```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.local
.env
.env.local
.env.
*.env.*
*.env.local.*

# Testing
.pytest_cache/
.coverage
coverage/
htmlcov/

# Build/dist
build/
dist/
*.egg
*.egg-info/
*.so
*.whl

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo
*.tmp
```